---
---

@import "/css/bootstrap.less";

// bootstrap overrides
@brand-primary: #DD2D2D;
@line-height-base: 1.6;
@navbar-height: 60px;

// navbar
.navbar-brand { 
	font-size: 70px; 
	font-weight: 100;
}
.navbar-nav { 
	font-size: 30px; 
	font-weight: 100;
}
.navbar-text {
	font-size: 16px;
	font-weight: 300;
}

// other
p {
	font-weight: 300;
}

p.spacer {
	height: 12px;
}

p.smallspacer {
	height: 3px;
}

.subtitle { 
	font-size: 75px; 
	font-weight: 100;
	position: relative;	
	top:-45px;
	height:0px;
}

a.off { 
	color: inherit; 
}

.bighead {
	font-size: 32px;
	font-weight: 300;
	line-height:36px;
	/* Museo sans */
}

.head {
	font-size: 26px;
	font-weight: 300;
	line-height:30px;
	/* Museo sans */
}

.smallhead {
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	/* Museo sans */
}

.sub {
	font-size: 13px;
	font-weight: 300;
	/* Museo sans */
}

code.has-jax {
	background: inherit; 
	color: inherit;
}

div.post img {
	float: right; 
	margin: 12px 0px 10px 15px;
}

img {
	.img-responsive;
}

img.offset {
	float: right; 
	margin: 12px 0px 10px 15px;
}

.paperbox {
    height:200px;
}

.memberbox {
    height:520px;
}

.postbox {
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
    height:212px;
    word-wrap: break-word;
}

.glyphbox {
	line-height: 26px; 
	display: block;
}

span.iconbox {
	display: inline-block; 
	width: 20px; 
	text-align:center;
}

#footer {
	height: 80px;
}