p {
	font-weight: 300;
}

p.spacer {
	height: 12px;
}

p.smallspacer {
	height: 3px;
}

.title { 
	font-size: 75px; 
	font-weight: 100;
	top: 10px;
	position: relative;	
}
.subtitle { 
	font-size: 75px; 
	font-weight: 100;
	position: relative;	
	top:-45px;
	height:0px;
}
.navtitle { 
	font-size: 30px; 
	position: relative;	
	font-weight: 100;
}
.navbar-text {
	right: 12px;
	position: relative;	
	font-size: 16px;
	font-weight: 300;
	line-height:16px; 	
}

a.off { 
	color: inherit; 
}

.bighead {
	font-size: 36px;
	font-weight: 300;
	line-height:40px;
	/* Museo sans */
}

.head {
	font-size: 28px;
	font-weight: 300;
	line-height:34px;
	/* Museo sans */
}

.smallhead {
	font-size: 28px;
	font-weight: 300;
	line-height:34px;
	/* Museo sans */
}

.sub {
	font-size: 13px;
	font-weight: 300;
	/* Museo sans */
}

code.has-jax {
	background: inherit; 
	color: inherit;
}

div.post img {
	float: right; 
	margin: 12px 0px 10px 15px;
}

img.offset {
	float: right; 
	margin: 12px 0px 10px 15px;
}

.paperbox {
    height:200px;
}

.postbox {
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
    height:212px;
    word-wrap: break-word;
}

.glyphbox {
	line-height: 28px; 
	display: block;
}

span.iconbox {
	display: inline-block; 
	width: 25px; 
	text-align:center;
}

#footer {
	height: 80px;
}