p {
	font-weight: 300;
}

.title { 
	font-size: 75px; 
	font-weight: 100;
	top: 10px;
	position: relative;	
}
.navtitle { 
	font-size: 30px; 
	position: relative;	
	font-weight: 100;
}
.navbar-text {
	right: 12px;
	position: relative;	
	font-size: 16px;
	font-weight: 300;
	line-height:16px; 	
}

a.off { 
	color: inherit; 
}

.sub {
	font-size: 13px;
	font-weight: 300;
}

code.has-jax {
	background: inherit; 
	color: inherit;
}

div.post img {
	float: right; 
	margin: 0px 0px 10px 15px;
	/*
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;	
   */
/*	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;	 */
}

.paperbox {
    height:200px;
}

.postbox {
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
    height:212px;
    word-wrap: break-word;
}

img .avatar {
	max-width: 20px;
	height: auto;
}
