---
layout: default
title: blotter [projects]
categories: 
 - projects
---

<div class="bigspacer"></div>
{% for project in site.projects %}

    {% cycle 'add rows': '<div class="row">', nil, nil %}
		<div class="col-md-4 projectbox">
			<div class="pull-right">
				<div class="note">
					<a class="off" href="{{ project.commits.first.url }}">{{ project.date | date_to_string }}</a>
				</div>		
				<div class="pull-right note">
					{% for contributor in project.contributors %}
					<a class="off" href="{{ contributor.url }}">
						<img class="pull-left avatar" style="padding: 2px;" src="{{ contributor.avatar }}">
					</a>
					{% endfor %}
				</div>					
			</div>		
			<div class="head">
				<a href="{{ project.url }}" class="off">{{ project.title }}</a>
			</div>	
			<div class="note">
				<a href="{{ project.url }}" class="off">{{ project.description }}</a>
			</div>
		</div>
    {% cycle 'close rows': nil, nil, '</div><div class="bigspacer"></div>' %}
{% endfor %}
{% cycle 'close rows': nil, '</div><div class="bigspacer"></div>', '</div><div class="bigspacer"></div>' %}	
