# Environment files
environment*

# Compiled site
_site/

# Projects
projects/
!projects/index.html

# Jekyll build process
.jekyll-cache
.jekyll-metadata
.sass-cache

# Other files
.DS_Store
.tweet-cache
