---
layout: default
title: jayich lab
categories:
 - home
---

<div class="row">
	<div class="col-md-12">
		<object class="pull-left biglogo" data="/images/logo.svg" type="image/svg+xml"></object>
		<div class="bigtitle logobox">
			jayich lab research
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="smallhead">
			The Jayich Lab at the <a class="off" href="http://www.fredhutch.org/">Fred Hutch</a> works at the interface of evolution,
			epidemiology and immunology. We apply computational and statistical methods to sequence data to understand viral dynamics,
			looking at the geographic circulation of viral strains and their evolution. We are interested in linking mutations in the
			virus to changes in acquired immunity in the human population, and then looking at how human immunity influences viral
			transmission patterns.
		</div>
	</div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="head">
			<a class="off" href="/news/">Recent posts</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<!-- Recent news posts -->
<div class="row">
	{% for post in site.categories.news limit:4 %}

	{% for member in site.categories.people %}
		{% if member.title == post.author %}
			{% assign author = member %}
		{% endif %}
	{% endfor %}

	<div class="col-md-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-comment-o fa-fw"></i>
				<a class="off" href="{{ post.url }}">
				{{ post.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ post.date | date: "%-d %b %Y" }}
				{% if author %}
				by <a class="off" href="{{ author.url }}">{{ author.handle }}</a>
				{% endif %}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="head">
			Misc
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 reduced-gutter">
		<div class="pad-left">
			<ul class="list-inline">
				{% for page in site.categories.misc %}
				<li class="footernav">
					<i class="fa fa-angle-right"></i> <a class="off" href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{% endfor %}
				<li class="footernav">
					<i class="fa fa-angle-right"></i> <a class="off" href="/talks/">Talks</a>
				</li>
				<li class="footernav">
					<i class="fa fa-angle-right"></i> <a class="off" href="http://www.fredhutch.org/">Fred Hutch</a>
				</li>
			</ul>
		</div>
		<div class="spacer"></div>
	</div>
</div>
