---
layout: default
title: bedford lab / talks
categories:
 - talks
---

<div class="row">
	<div class="col-lg-12">
		<div class="bigtitle">
			Talks
		</div>
	</div>
</div>

<div class="bigspacer"></div>

{% for talk in site.categories.talks %}
{% unless talk.draft %}

	{% for member in site.categories.team %}
		{% if member.title == talk.author %}
			{% assign author = member %}
		{% endif %}
	{% endfor %}

    {% cycle 'add rows': '<div class="row">', '', '' %}
		<div class="col-lg-4 talkbox">
			<div class="smallhead">
				<a href="{{ talk.url }}" class="off">{{ talk.title }}</a>
			</div>
			<div class="smallspacer"></div>
      {% if talk.venue %}
			<div class="note">
				{{ talk.event }} at {{ talk.venue }}
			</div>
      {% else %}
      <div class="note">
				{{ talk.event }}
			</div>
      {% endif %}
			<div class="smallspacer"></div>
			<div class="smallnote">
				{{ talk.date | date: "%-d %b %Y" }}
				by <a class="off" href="{{ author.url }}">{{ author.handle }}</a>
			</div>
			<div class="bigspacer"></div>
			<div class="spacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
{% endunless %}
{% endfor %}
{% cycle 'close rows': '', '</div>', '</div>' %}
