---
layout: default
title: blotter [blog]
---

{% for post in site.categories.blog %}

		{% for member in site.categories.team %}
			{% if member.title == post.author %}
				{% assign author = member %}
			{% endif %}
		{% endfor %}
	
		<p class="spacer">	
		<div class="row">
			<div class="col-md-3">
						<div class="head">
					<a href="{{ post.url }}" class="off">{{ post.title }}</a>
				</div>
				<div class="sub">
					{{ post.date | date_to_string }}
					{% if author %}
					by <a class="off" href="{{ author.url }}">{{ author.handle }}</a>
					{% endif %}				
				</div>	
			</div>
			<div class="col-md-8">		
				<div style="height:5px;"></div>			
				{% if post.image %}
				<a href="{{ post.url }}"><img class="offset" src="{{ post.image }}"></a>
				{% endif %}
				<div class="post">
					{{ post.content }}
				</div>
			</div>			
			<div class="col-md-1"></div>
		</div>		
		
{% endfor %}

