---
---

<div class="col-sm-2 abbr">
    {% if entry.abbr %}
    {% if site.data.venues[entry.abbr] %}
        <abbr class="badge"><a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a></abbr>
    {% else %}
        <abbr class="badge">{{entry.abbr}}</abbr>
    {% endif %}
    {% endif %}
</div>
            
<div id="{{entry.key}}" class="col-sm-8">
    {% if entry.type == "thesis" %}
        {{reference}}
    {% else %}
        <div class="journal-title fw-bolder">{{entry.title}}</div>
        <div class="author fw-light">
            {% for author in entry.author_array %}
                {% assign author_is_self = false %}
                {% if author.last == site.scholar.last_name%}
                    {% if site.scholar.first_name contains author.first%}
                        {% assign author_is_self = true %}
                    {% endif %}
                {% endif %}
                {% assign coauthor_url = nil %}
                {% if site.data.coauthors[author.last] %}
                    {% for coauthor in site.data.coauthors[author.last] %}
                        {% if coauthor.firstname contains author.first %}
                            {% assign coauthor_url = coauthor.url %}
                            {% break %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if forloop.length == 1 %}
                    {% if author_is_self %}
                        <em>{{author.last}}, {{author.first}}</em>
                    {% else %}
                        {{author.last}}, {{author.first}}
                    {% endif %}
                {% else %}
                    {% unless forloop.last %}
                        {% if author_is_self %}
                            <em>{{author.last}}, {{author.first}}</em>,
                        {% else %}
                            {% if coauthor_url %}
                                <a href="{{coauthor_url}}" target="_blank">{{author.last}}, {{author.first}}</a>,
                            {% else %}
                                {{author.last}}, {{author.first}},
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if author_is_self %}
                            and <em>{{author.last}}, {{author.first}}</em>
                        {% else %}
                            {% if coauthor_url %}
                                and <a href="{{coauthor_url}}" target="_blank">{{author.last}}, {{author.first}}</a>
                            {% else %}
                                and {{author.last}}, {{author.first}}
                            {% endif %}
                        {% endif %}
                    {% endunless %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="periodical">
            {% if entry.type == "article" %}
                <em> {{entry.journal}} </em>
            {% elsif entry.type == "inproceedings" %}
                <em> In {{entry.booktitle}} </em>
            {% endif %}
            {% if entry.year %}
                {{entry.year}}
            {% endif %}
        </div>
    {% endif %}

    <div class="links">
        {% if entry.arxiv %}
            <button href="https://arxiv.org/abs/{{ entry.arxiv }}" class="btn btn-sm btn-light z-depth-0" role="button" target="_blank">arXiv</button>
        {% endif %}
        {% if entry.doi %}
            <button href="https://doi.org/{{ entry.doi }}" class="btn btn-sm btn-light z-depth-0" role="button" target="_blank">doi</button>
        {% endif %}
        {% if entry.url %}
            <button href="{{ entry.url }}" class="btn btn-sm btn-light z-depth-0" role="button" target="_blank">URL</button>
        {% endif %}
        {% if entry.pdf %}
            {% if entry.pdf contains '://' %}
                <button href="{{ entry.pdf }}" class="btn btn-sm btn-light z-depth-0" role="button" target="_blank">PDF</button>
            {% else %}
                <button href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm btn-light z-depth-0" role="button" target="_blank">PDF</button>
            {% endif %}
        {% endif %}
        {% if entry.blog %}
            <button href="{{ entry.blog }}" class="btn btn-sm button z-depth-0" role="button" target="_blank">Blog</button>
        {% endif %}
        {% if entry.code %}
            <button href="{{ entry.code }}" class="btn btn-sm button z-depth-0" role="button" target="_blank">Code</button>
        {% endif %}
        {% if entry.poster %}
            {% if entry.poster contains '://' %}
                <button href="{{ entry.poster }}" class="btn btn-sm btn-info z-depth-0" role="button" target="_blank">Poster</button>
            {% else %}
                <button href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm btn-info z-depth-0" role="button" target="_blank">Poster</button>
            {% endif %}
        {% endif %}
        {% if entry.slides %}
            {% if entry.slides contains '://' %}
                <button href="{{ entry.slides }}" class="btn btn-sm button z-depth-0" role="button" target="_blank">Slides</button>
            {% else %}
                <button href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm button z-depth-0" role="button" target="_blank">Slides</button>
            {% endif %}
        {% endif %}
        {% if entry.website %}
            <button href="{{ entry.website }}" class="btn btn-sm button z-depth-0" role="button" target="_blank">Website</button>
        {% endif %}
    </div>
</div>
