<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!-- Customized Bootstrap -->
    <link href="/css/style.css" rel="stylesheet" media="screen">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.png"/>	

	<!-- Typekit -->
	<script type="text/javascript" src="//use.typekit.net/xeu8jut.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	<!-- Solized code highlighting -->
	<link rel="stylesheet" href="/css/solarized.css">
	
	<!--
	<script type="text/javascript">

  		var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-26244371-1']);
  		_gaq.push(['_trackPageview']);

  		(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();

	</script>	
	-->
			
</head>

<body>
	
	<div id="header">
		<nav class="navbar navbar-default navbar-static-top" role="navigation">	 
			<div class="container">	
				{% if page.categories.first != 'home' %}
				<div class="navbar-header">
					<object class="pull-left logo" data="/images/logo.svg" type="image/svg+xml"></object>
					<a class="navbar-brand" href="/">bedford lab</a>
				</div>
				{% endif %}
				<ul class="nav navbar-nav navbar-right">
					{% if page.categories.first == 'blog' %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
					<a href="/blog/">blog</a>
					</li>
					{% if page.categories.first == 'papers' %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
					<a href="/papers/">papers</a></li>
					{% if page.categories.first == 'projects' %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
					<a href="/projects/">projects</a></li>	  
					{% if page.categories.first == 'team' %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
					<a href="/team/">team</a></li>	  	  
				</ul>
			</div>
		</nav>	
	</div>
	
	<div class="container">	
		
	{{ content }}
	
	</div>
		
	<div id="footer"><span style="display:none">foo</span></div>
	    		
	<!-- MathJax support -->
	<script type="text/javascript"
	 src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<!-- MathJax config -->
	<script src="/js/mathjax.config.js"></script>	
			
</body>
</html>

