---
layout: default
---

{% assign member = page %}

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="media">
			{% if member.image %}
			<img class="pull-left pad-right media-object" width=120 src="{{ member.image }}">
			{% endif %}
			<div class="media-body titlebox">
				<div class="bigtitle media-heading">
					{{ member.title }}
				</div>
				<p>
				<div class="smallhead">
					{{ member.position }}
				</div>
			</div>
		</div>
	</div>				
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">  			
		{% if member.cv %}		
		<div class="smallhead">
			CV
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-file-text-o fa-fw"></i>			
			<a class="off" href="{{ member.cv }}">{{ member.cv | split: '/' | last }}</a>
		</div>		
		<div class="bigspacer"></div>		
		{% endif %}	  		
		{% if member.twitter %}		
		<div class="smallhead">
			Twitter
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-twitter fa-fw"></i>
			<a class="off" href="https://twitter.com/{{ member.twitter }}">{{ member.twitter }}</a>
		</div>		
		<div class="bigspacer"></div>				
		{% endif %}	
		{% if member.github %}
		<div class="smallhead">
			GitHub
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-github-alt fa-fw"></i>
			<a class="off" href="https://github.com/{{ member.github }}">{{ member.github }}</a>
		</div>		
		<div class="bigspacer"></div>	
		{% endif %}		
		{% if member.scholar %}
		<div class="smallhead">
			Google Scholar
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-book fa-fw"></i>
			<a class="off" href="http://scholar.google.com/citations?user={{ member.scholar }}">{{ member.title }}</a>
		</div>		
		<div class="bigspacer"></div>	
		{% endif %}				   	
		{% if member.email %}
		{% assign emailarray = member.email | split: '@' %}
		<div class="smallhead">
			Email
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-inbox fa-fw"></i>
			{{ emailarray.first }}<span style="display:none">obfuscate</span>@{{ emailarray.last }}
		</div>		
		<div class="bigspacer"></div>			
		{% endif %}						
	</div>
	<div class="col-md-8">	
		<div class="post">
			{{ content }}
		</div>
		
		{% assign lastname = member.title | split: ' ' | last %}
		{% for paper in site.categories.papers %}
		{% if paper.authors contains lastname %}
		{% assign papersq = true %}
		{% endif %}
		{% endfor %}

		{% if papersq == true %}
		<div class="bigspacer"></div>
		<div class="head">Papers</div>
		<div class="spacer"></div>
		{% for paper in site.categories.papers %}
		{% if paper.authors contains lastname %}
		<p><a href="{{ paper.url }}" class="off">{{ paper.title }}</a>
		{% endif %}
		{% endfor %}
		{% endif %}		
		
		{% for project in site.projects %}
			{% for contributor in project.contributors %}
				{% if contributor.login == member.github %}
					{% assign projectsq = true %}
				{% endif %}
			{% endfor %}
		{% endfor %}
		
		{% if projectsq == true %}
		<div class="bigspacer"></div>
		<div class="head">Projects</div>
		<div class="spacer"></div>
		{% for project in site.projects %}
			{% assign present = false %}
			{% for contributor in project.contributors %}
				{% if contributor.login == member.github %}
					{% assign present = true %}
				{% endif %}
			{% endfor %}
			{% if present == true %}
				<p><a href="{{ project.url }}" class="off">{{ project.title }} - {{ project.description }}</a>
			{% endif %}
		{% endfor %}	
		{% endif %}							
		
		{% for post in site.categories.blog %}
		{% if member.title == post.author %}
		{% assign postsq = true %}
		{% endif %}
		{% endfor %}
		
		{% if postsq == true %}
		<div class="bigspacer"></div>		
		<div class="head">Posts</div>
		<div class="spacer"></div>
		{% for post in site.categories.blog %}
		{% if member.title == post.author %}
		<p><a href="{{ post.url }}" class="off">{{ post.title }}</a>
		{% endif %}
		{% endfor %}	
		{% endif %}	
		
	</div>			
	<div class="col-md-1"></div>
</div>	
