---
layout: default
---

{% assign member = page %}

<div class="row">
	<div class="col-lg-12">
		<div class="media">
			{% if member.image %}
			<img class="pull-left pad-right media-object" width=120 src="{{ member.image }}">
			{% endif %}
			<div class="media-body titlebox">
				<div class="bigtitle media-heading">
					{{ member.title }}
				</div>
				<p>
				<div class="smallhead">
					{{ member.position }}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-3">
		{% if member.cv %}
		<div class="smallhead">
			CV
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-file-alt fa-fw"></i>
			<a class="off" href="{{ member.cv }}">{{ member.cv | split: '/' | last }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.github %}
		<div class="smallhead">
			GitHub
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-github-alt fa-fw"></i>
			<a class="off" href="https://github.com/{{ member.github }}">{{ member.github }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.scholar %}
		<div class="smallhead">
			Google Scholar
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-book fa-fw"></i>
			<a class="off" href="https://scholar.google.com/citations?user={{ member.scholar }}">{{ member.title }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.orcid %}
		<div class="smallhead">
			ORCID
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fab fa-orcid fa-fw"></i>
			<a class="off" href="https://orcid.org/{{ member.scholar }}">{{ member.title }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.calendar %}
		<div class="smallhead">
			Calendar
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-calendar fa-fw"></i>
			<a class="off" href="{{ member.calendar }}">{{ member.title }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.website %}
		<div class="smallhead">
			Website
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-globe fa-fw"></i>
			<a class="off" href="{{ member.website }}">{{ member.website | remove: 'http://' | remove: 'https://' | replace: "/", "/<wbr>" | replace: "_", "_<wbr>" }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.email %}
		{% assign emailarray = member.email | split: '@' %}
		<div class="smallhead">
			Email
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-inbox fa-fw"></i>
			{{ emailarray.first }}<span style="display:none">obfuscate</span>@{{ emailarray.last }}
		</div>
		<div class="bigspacer"></div>
		{% endif %}
	</div>
	<div class="col-lg-8">
		<div class="post">
			{{ content }}
		</div>

		{% assign lastname = member.title | split: ' ' | last %}
		{% assign firstinitial = member.title | split: ' ' | first | slice: 0 %}
		{% assign searchstring = lastname | append: ' ' | append: firstinitial %}

		{% for paper in site.categories.papers %}
		{% if paper.authors contains searchstring %}
		{% assign papersq = true %}
		{% endif %}
		{% endfor %}

		{% if papersq == true %}
		<div class="bigspacer"></div>
		<div class="head">Papers</div>
		<div class="spacer"></div>
		{% for paper in site.categories.papers %}
		{% if paper.authors contains searchstring %}
		<p><a href="{{ paper.url }}" class="off">{{ paper.title }}</a>
		{% endif %}
		{% endfor %}
		{% endif %}

		{% if postsq == true %}
			<div class="bigspacer"></div>
			<div class="head">Posts</div>
			<div class="spacer"></div>
			{% for post in site.categories.blog %}
				{% if post.author %}
					{% if member.title == post.author %}
						<p><a href="{{ post.url }}" class="off">{{ post.title }}</a>
					{% endif %}
				{% endif %}
				{% if post.authors %}
					{% assign found = false %}
					{% for author in post.authors %}
						{% if member.title == author %}
							{% assign found = true %}
						{% endif %}
					{% endfor %}
					{% if found %}
						<p><a href="{{ post.url }}" class="off">{{ post.title }}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}

	</div>
	<div class="col-lg-1"></div>
</div>
