---
layout: default
---

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="media">
			{% if page.image %}
			<img class="pull-left pad-right media-object" src="{{ page.image }}">
			{% endif %}
			<div class="media-body">
				<div class="title media-heading">
					{{ page.title }}
				</div>
				<p>
				<div class="smallhead">
					{{ page.authors }}
					{{ page.year }}.
					{{ page.journal }}
				</div>
			</div>
		</div>
	</div>				
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="bigspacer"></div>
		<div class="glyphbox note">
			{% if page.pdf %}
			<a class="off" href="{{ page.pdf }}">
				<span class="iconbox">
					<i class="fa fa-file-text-o fa-lg"></i>
				</span>
				pdf
			</a>					
			{% endif %}		
			{% if page.supplement %}
			<br>
			<a class="off" href="{{ page.supplement }}">
				<span class="iconbox">			
					<i class="fa fa-paperclip fa-lg"></i>
				</span>
				supplement
			</a>					
			{% endif %}	
			{% if page.github %}
			<br>
			<a class="off" href="{{ page.github }}">
				<span class="iconbox">
					<i class="fa fa-github fa-lg"></i>
				</span>
				github
			</a>					
			{% endif %}	
		</div>
	</div>
	<div class="col-md-8">	
		<div class="post">
			{{ content }}
		</div>	
	</div>			
	<div class="col-md-1"></div>
</div>	