---
layout: default
---

<div class="row">
	<div class="col-lg-12">
		{% if page.image %}
		<img class="pull-left pad-right media-object d-none d-sm-block" src="{{ page.image }}">
		<img width=85 class="float-left pad-right d-block d-sm-none" src="{{ page.image }}">
		{% endif %}
		<div class="titlebox">
			<div class="title">
				{{ page.title }}
			</div>
			<p>
			<div class="smallhead">
				{{ page.authors }}
				{{ page.year }}.
				{{ page.journal }}
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-3">
		<div class="bigspacer"></div>
		<div class="glyphbox note">
			{% if page.pdf %}
			<div class="smallhead">
				PDF
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ page.pdf }}">{{ page.pdf | split: '/' | last }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.supplement %}
			<div class="smallhead">
				Supplement
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-paperclip fa-fw"></i>
				<a class="off" href="{{ page.supplement }}">{{ page.supplement | split: '/' | last }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.doi %}
			<div class="smallhead">
				DOI
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-external-link fa-fw"></i>
				<a class="off" href="https://doi.org/{{ page.doi }}">{{ page.doi }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.github %}
			<div class="smallhead">
				GitHub
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-github-alt fa-fw"></i>
				<a class="off" href="{{ page.github }}">{{ page.github | remove: 'http://github.com/' | remove: 'https://github.com/' | replace: "/", "/<wbr>" | replace: "_", "_<wbr>" }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.website %}
			<div class="smallhead">
				Website
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-globe fa-fw"></i>
				<a class="off" href="{{ page.website }}">{{ page.website | remove: 'http://' | remove: 'https://' | replace: "/", "/<wbr>" | replace: "_", "_<wbr>" }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
		</div>
	</div>
	<div class="col-lg-8">
		<div class="post">
			{{ content }}
		</div>
	</div>
	<div class="col-lg-1"></div>
</div>
