---
layout: default
---
{% for member in site.categories.team %}
	{% if member.title == page.author %}
		{% assign author = member %}
	{% endif %}
{% endfor %}

<div class="blog-post">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="media">
				<div class="media-body">
					<div class="title media-heading">
						<a href="{{ site.baseurl }}{{ page.url }}" class="off">{{ page.title }}</a>
					</div>
					<p>
					<div class="smallhead">
						{{ page.date | date_to_string }}
						{% if author %}
						by <a class="off" href="{{ site.baseurl }}{{ author.url }}">{{ author.handle }}</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="bigspacer"></div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			{% if page.image %}
			{% if page.link %}
			<a href="{{ site.baseurl }}{{ page.link }}">
				<img class="offset" src="{{ site.baseurl }}{{ page.image }}">
			</a>
			{% else %}
			<img class="offset" src="{{ site.baseurl }}{{ page.image }}">
			{% endif %}
			{% endif %}
			<div class="post">
				{{ content }}
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="bigspacer"></div>
	<div class="spacer"></div>

</div>
