---
layout: default
---
{% for member in site.categories.team %}
	{% if member.title == page.author %}
		{% assign author = member %}
	{% endif %}
{% endfor %}

<p class="spacer">
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">		
	
		<div class="head">
			{{ page.title }}
		</div>
		<div class="sub">
			{{ page.date | date_to_string }}
			{% if author %}
			by <a class="off" href="{{ author.url }}">{{ author.handle }}</a>
			{% endif %}				
		</div>				
		<p>
		{% if page.image %}
		<img class="offset" src="{{ page.image }}">
		{% endif %}
		<div class="post">
			{{ content }}
		</div>
		
		{% if page.link %}
		<div>
		<a class="off pull-right" href="{{ page.link }}">
			<span class="iconbox">
				<i class="icon-circle-arrow-right icon-large"></i> 
			</span>
			link
		</a>			
		</div>
		{% endif %}		
		
	</div>			
	<div class="col-md-2"></div>
</div>	
<p>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">	
		<script>
			$(document).ready(function() {
				$('#boastful').boastful({
				location: '{{ page.url }}',
				empty_message: ''
				});
				{% if page.link %}
				$('#boastful').boastful({
				location: '{{ page.link }}',
				empty_message: ''
				});
				{% endif %}
			});
		</script>
		
		<div class="tag">
			{% if page.link %}
			{% assign link = page.link %}
			{% else %}
			{% assign link = page.url %}
			{% endif %}
			<a class="off" href="http://twitter.com/share?url={{ link | replace: ' ', '%20' }}&text={{ page.title | replace: ' ', '%20' }}
			{% if author.twitter %}
			&via={{ author.twitter }}
			{% endif %}
			" target="_blank">
				Join the discussion: 
			</a>
		</div>
		<div id="boastful"></div>	
	</div>
	<div class="col-md-2"></div>
</div>



