---
layout: default
---

{% for test in site.categories.projects %}
	{% if test.title == page.project %}
		{% assign project = test %}
	{% endif %}
{% endfor %}

<div class="row">
	<div class="col-md-12">
		<div class="bigtitle">
			{{ project.title }}
		</div>
		<div class="head">
			{{ project.description }}
		</div>
	</div>				
</div>

<p class="spacer">	

<div class="row">
	<div class="col-md-3">
		<p class="spacer">
		<div class="smallhead">
			Source code
		</div>
		<div class="normalhead">
			<a class="off" href="http://github.com/{{ project.repo }}">github.com/{{ project.repo }}</a>
		</div>
		<p class="spacer">
		<div class="smallhead">
			Contributors
		</div>
		<div class="normalhead">
			{% octokit_contributors {{project.repo}} %}
		</div>
		<p class="spacer">
		<div class="smallhead">
			Latest commits
		</div>
		<div class="subhead">
			{% octokit_commits {{project.repo}} %}
		</div>		
	</div>
	<div class="col-md-8">				
		<div class="post">
			{{ content }}
		</div>
	</div>			
	<div class="col-md-1"></div>
</div>

