---
layout: default
categories: 
 - projects
---

{% for test in site.projects %}
	{% if test.title == page.project %}
		{% assign project = test %}
	{% endif %}
{% endfor %}

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="bigtitle titlebox">
			<ol class="breadcrumb">
			{% assign crumbs = page.title | breadcrumb_array %}
			{% for crumb in crumbs %}
				{% assign name = crumb | split: '/' | last %}
				{% for page in site.pages %}			
					{% if page.title == crumb %}
						{% assign url = page.url %}
					{% endif %}
				{% endfor %}
				{% if crumb == page.title %}
				<li>{{ name }}</li>
				{% else %}
				<li><a class="off" href="{{ url | replace: 'index.html', '' }}">{{ name }}</a></li>
				{% endif %}
			{% endfor %}
			</ol>
		</div>
		<p>
		<div class="head">
			{{ project.description }}
		</div>
	</div>				
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="bigspacer"></div>
		<div class="smallhead">
			Source code
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-cog fa-fw"></i>
			<a class="off" href="https://github.com/{{ project.repo }}">github.com/{{ project.repo }}</a>
		</div>
		<div class="bigspacer"></div>
		<div class="smallhead">
			Contributors
		</div>	
		<div class="pad-left note">
			{% for contributor in project.contributors %}	
			<div class="smallspacer"></div>				
			<div>
				<a class="off" href="{{ contributor.url }}">
    			<img class="pull-left avatar" src="{{ contributor.avatar }}">
    			<div class="handlebox" style="padding-left:5px;"">
    				{{ contributor.login }}
    			</div>
 				</a>
 			</div>			
 			{% endfor %}
		</div>
		<div class="bigspacer"></div>
		<div class="smallhead">
			Latest commits
		</div>		
		<div class="pad-left smallnote">
			<ul class="list-unstyled">
			{% for commit in project.commits %}
				<div class="smallspacer"></div>
				<li> 
					<i class="fa fa-check-square-o fa-fw"></i>
					<a class="off" href="{{ commit.url }}">
					{{ commit.date | date_to_string }} - <span class="text-gray">{{ commit.message }}</span>
					</a> 
				</li>
			{% endfor %}
			</ul>
		</div>		
		<div class="spacer"></div>	
		
		{% for page in site.pages %}			
			{% if page.project == project.title %}
			<!-- {% increment pagecount %} -->
			{% endif %}
		{% endfor %}
				
		{% if pagecount > 1 %}
		<div class="smallhead">
			Pages
		</div>				
		<div class="pad-left smallnote">
			<ul class="list-unstyled">
			{% for page in site.pages %}			
				{% if page.project == project.title %}
				<div class="smallspacer"></div>
				<li> 
					<a class="off" href="{{ page.url | replace: 'index.html', '' }}">
					{{ page.title | replace: '/', ' / ' | replace: project.title, '<i class="fa fa-folder-open-o"></i> ' }}
					</a> 
				</li>					
				{% endif %}
			{% endfor %}
			</ul>			
		</div>	
		<div class="spacer"></div>		
		{% endif %}
		
		<div class="smallhead">
			Share
		</div>			
		<div class="pad-left note">
			<div class="smallspacer"></div>
			{% tweet {{project.url}} {{project.description}} %}
			{% trackback {{project.url}} %}
			</span>
		</div>						
	</div>
	<div class="col-md-8">				
		<div class="post">
			<p>
			{{ content }}
		</div>
	</div>			
	<div class="col-md-1"></div>
</div>

