<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>{{ page.title }}</title>

		<meta name="author" content="{{ page.author }}">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="{{ site.baseurl }}/talks/reveal-v3/css/reveal.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/talks/reveal-v3/css/theme/blotter.css" id="theme">
		<link rel="stylesheet" href="{{ site.baseurl }}/talks/reveal-v3/css/font-awesome/css/font-awesome.min.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="{{ site.baseurl }}/talks/reveal-v3/lib/css/zenburn.css">

	</head>

	<body>

		<div style="position: absolute; top:10px; left:10px; z-index:100;">
			<a href="{{ site.baseurl }}/talks/">
				<i class="fa fa-times-circle" style="color: #bbb;"></i>
			</a>
		</div>

		<div class="reveal">

			<div class="slides">

				<!-- {{ content }} -->
				<section data-markdown="{{ site.baseurl }}{{ page.talk }}" data-separator="^\n---\n$" data-separator-vertical="^\n----\n$" data-notes="^Note:">
				</section>

			</div>

		</div>


		<script src="{{ site.baseurl }}/talks/reveal-v3/lib/js/head.min.js"></script>
		<script src="{{ site.baseurl }}/talks/reveal-v3/js/reveal.js"></script>
		<script src="{{ site.baseurl }}/talks/reveal-v3/js/config.js"></script>


		<script>
			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: 'fade', // default/cube/page/concave/zoom/linear/fade/non

			});

			Reveal.configure({{ page.revealOptions | jsonify }});

		</script>



	</body>
</html>
